.navbar {
    background-color: #d0dae5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 30px;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .navbar-menu li a {
    color: #11163c;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-menu li a:hover {
    text-decoration: underline;
  }